/* Variáveis */
:root{
    --color: #fec63e
}

/* Geral */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: #ddd;
}
main{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1100px;
}
.center{
    max-width: 1100px;
    margin: auto;
    width: 100%;
    padding: 0px 2%;
}
p{
    padding: 30px 2%;
    font-size: 1.8rem;
}

/* Nav bar */
#nav_bar{
    width: 100%;
    background-color: var(--color);
}
nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 2.8rem;
}
nav ul{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 2.0rem;
}
nav ul a{
    text-decoration: none;
    color: white;
}
.menu_toggle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 60px;
}
.toggle_bar1, .toggle_bar2, .toggle_bar3{
    width: 100%;
    background-color: white;
    margin-top: 6px;
    width: 100%;
    height: 3px;
}

/* Main */
main ul{
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
main ul img{
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .45);
    background-color: var(--color);
}

/* Header */
header{
    padding: 0px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    text-shadow: 1.5px 1.5px 2px rgb(36, 36, 36);
    color: var(--color);
    font-size: 3rem;
}
header .card{
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .45);
    margin: 0px 5px;
    text-align: center;
    display: inline-block;
    width: 70px
}
header .card h2{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 15px 0px;
    background-color: var(--color);
}
header .card p{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 0px;
    background-color: whitesmoke;
    color: var(--color);
}
.infos_1{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 2%;
}
.infos_1 .info{
    max-width: 500px;
}
.info{
    width: 80%;
}
.infos_1 p{
    max-width: 100%;
    font-size: 1.8rem;
}
.infos_1 img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
article{
    border-radius: 8px;
    text-align: center;
    padding: 20px 2%;
    background-color:   var(--color);
}
article p{
    font-weight: 900;
    margin: auto;
    max-width: 100%;
}
.infos_2{
    padding: 0px 2%;
    display: flex;
    flex-direction: column;
}
.infos_2 p{
    font-size: 1.8rem;
}
.infos_2 ul{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    width: 40%;
    background-color: var(--color);
}
.infos_2 ul li{
    color: white;
    font-weight: 900;
    text-shadow: 1.5px 1.5px 3px black;
    display: inline-block;
    width: 80%;
    font-size: 2.2rem;
    padding: 5px 15px;
    border-bottom: 3px solid rgba(255, 255, 255, .9);
    display: block;
}
.infos_2 img{
    width: calc(100% - 40%);
    border-radius: 12px;
}
.infos_2 .caracteristicas{
    display: flex;
    justify-content: space-between;
}
.img{
    border-radius: 12px;
    margin: 10px auto; 
}
footer{
    background-color: var(--color);
    width: 100%;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
}


@media screen and (max-width: 768px){
    html{
        font-size: 50%;
    }
    .caracteristicas{
        flex-direction: column;
        align-items: center;
    }
    .infos_2 ul{
        width: 100%
    }
    .infos_2 img{
        width: 95%;
    }
}
@media screen and (max-width: 500px){
    main ul img{
        width: 70px;
    }
    .menu_toggle ul{
        display: none;
    }
    .toggle{
        display: flex;
    }
}
@media screen and (max-width: 330px){
    html{
        font-size: 40%;
    }
}